* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    font-family: 'Poppins', sans-serif;
} */

/* .logo:hover {
    animation: rotating 3s linear infinite
} */

.main-container {
    max-width: 1300px;
    margin: auto;
    padding: 0px 25px 0px 25px;
}

 .row1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.small-container {
    max-width: 1080px;
    margin: auto;
    padding: 0 25px 0 25px;
}

.col4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 60px;
    position: relative;
    line-height: 60px;
    color: #555;
}

/* .suggest {
    margin: 0 auto 0px;
} */

.title::after {
    content: ' ';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.login_details{
    position: absolute;  
    left: 87%;
}

#see_products{
    margin-left: 35%;
    margin-bottom: 5px;
}

/* h4 {
    color: #555;
    font-weight: normal;
}

.col4 p {
    font-size: 14px;
}

.rating .fa {
    color: #ff523b;
} */

/* .col4:hover {
    transform: translateY(-5px);
} */

/* .offer {
    background: radial-gradient(#dbd9d9, #c5c6cc);
    margin-top: 80px;
    padding: 30px 0;
}

.col2 offer-img {
    padding: 50px;
}

small {
    color: #555 !important;
} */

/* .about {
    padding-top: 100px !important;
}

.about .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(20, 228, 83, 0.1);
    cursor: pointer;
    transition: transform(0.5s);
}

.about .col3:hover {
    transform: translateY(-10px);
}

.about .col3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.about .col3 h3 {
    font-weight: 600;
    color: rgb(20, 20, 20);
    font-size: 16px;
}

.contact {
    padding-top: 100px !important;
}

.contact .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(20, 228, 83, 0.1);
    cursor: pointer;
    transition: transform(0.5s);
} */

/* .contact .col3:hover {
    transform: translateY(-10px);
}

.contact .col3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.contact .col3 h3 {
    font-weight: 600;
    color: rgb(20, 20, 20);
    font-size: 16px;
}

.fa.fa-quote-left {
    font-size: 34px;
    color: #8f281b;
} */

/* .col3 p {
    font-size: 12px;
    margin: 12px 0;
    color: rgb(255, 30, 188);
}

.brands {
    margin: 100px auto;
}

.col5 {
    width: 160px;
}

.col5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col5 img:hover {
    filter: grayscale(0);
} 

.footer {
    background-color: rgb(92, 245, 237);
    color: #f02828;
    font-size: 16px;
    padding: 4px 0 1px;
    font-weight: bold;
    height: 30px;
} */
/* 
ul {
    list-style-type: none;
} */

/* .app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
} */

/* .footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
} */


/* media query */

/* @media only screen and (max-width:800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: white;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
} */


/* ----------------------------------all product----------- */

/* .row2 {
    justify-content: space-between;
    margin: 100px auto 50px;
} */

/* select {
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus {
    outline: none;
} */

/* .page-btn {
    margin: 0 auto 80px;
} */

/* .page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.page-btn span:hover {
    background: #ff523b;
    color: #fff;
} */


/* single product */

/* .single-product {
    margin-top: 80px;
}

.single-product .col2 img {
    padding: 0;
}

.single-product .col2 {
    padding: 20px;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
} */

/* .single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
} */

/* input:focus {
    outline: none;
}

.single-product .fa {
    color: #ff523b;
    margin-left: 10px;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
} */


/* media query for less than 600 screen size */

/* @media only screen and (max-width:600px) {
    .row1 {
        text-align: center;
    }
    .col2,
    .col3,
    .col4 {
        flex-basis: 100%;
    }
    .single-product .row1 {
        text-align: left;
    }
    .single-product col2 {
        padding: 20px;
    }
    .single-product h1 {
        font-size: 26px !important;
        line-height: 32px !important;
    }
} */

/* @media screen and (max-width: 800px) {
    nav ul li a,
    p {
        color: rgb(250, 242, 242)!important;
    }
} */



