
INSERT INTO "PERSON" (PERSONID, NAME) VALUES (01, 'Santosh Dangal');
INSERT INTO "PERSON" (PERSONID, NAME) VALUES (02, 'Hari Khadka');
INSERT INTO "PERSON" (PERSONID, NAME) VALUES (03, 'Muna Dangal');
INSERT INTO "PERSON" (PERSONID, NAME) VALUES (04, 'Saman Dhakal');
INSERT INTO "PERSON" (PERSONID, NAME) VALUES (05, 'Sakar Kharel');
INSERT INTO "PERSON" (PERSONID, NAME) VALUES (06, 'Saman Limbu');
INSERT INTO "PERSON" (PERSONID, NAME) VALUES (07, 'Suyog Rai');
INSERT INTO "PERSON" (PERSONID, NAME) VALUES (08, 'Saradha Oli');
INSERT INTO "PERSON" (PERSONID, NAME) VALUES (09, 'Bikash Jha');
INSERT INTO "PERSON" (PERSONID, NAME) VALUES (10, 'Puspa Khan');
INSERT INTO "PERSON" (PERSONID, NAME) VALUES (11, 'Parash Shah');
INSERT INTO "PERSON" (PERSONID, NAME) VALUES (12, 'paresh Khadka');
INSERT INTO "PERSON" (PERSONID, NAME) VALUES (13, 'Sundar Dangol');
INSERT INTO "PERSON" (PERSONID, NAME) VALUES (14, 'Himal Dhakal');
INSERT INTO "PERSON" (PERSONID, NAME) VALUES (15, 'Aabhiskar Kharel');
INSERT INTO "PERSON" (PERSONID, NAME) VALUES (16, 'Sabin Limbu');
INSERT INTO "PERSON" (PERSONID, NAME) VALUES (17, 'Suman Rai');
INSERT INTO "PERSON" (PERSONID, NAME) VALUES (18, 'Subir Oli');
INSERT INTO "PERSON" (PERSONID, NAME) VALUES (19, 'Aashish Jha');
INSERT INTO "PERSON" (PERSONID, NAME) VALUES (20, 'Anish Khadka');

INSERT INTO "ADDRESS" (ADDRESSID, COUNTRY, ZIPCODE, CITY, PROVINCE) VALUES (01, 'Nepal', '44600', 'Kathmandu', 'Bagmati Province');
INSERT INTO "ADDRESS" (ADDRESSID, COUNTRY, ZIPCODE, CITY, PROVINCE) VALUES (02, 'Nepal', '44800', 'Bhaktapur', 'Bagmati Province');
INSERT INTO "ADDRESS" (ADDRESSID, COUNTRY, ZIPCODE, CITY, PROVINCE) VALUES (03, 'Nepal', '44700', 'Lalitpur', 'Bagmati Province');
INSERT INTO "ADDRESS" (ADDRESSID, COUNTRY, ZIPCODE, CITY, PROVINCE) VALUES (04, 'Nepal', '33700', 'Kaski', 'Gandaki Province');
INSERT INTO "ADDRESS" (ADDRESSID, COUNTRY, ZIPCODE, CITY, PROVINCE) VALUES (05, 'Nepal', '44600', 'Kathmandu', 'Bagmati Province');
INSERT INTO "ADDRESS" (ADDRESSID, COUNTRY, ZIPCODE, CITY, PROVINCE) VALUES (06, 'Nepal', '44700', 'Lalitpur', 'Bagmati Province');
INSERT INTO "ADDRESS" (ADDRESSID, COUNTRY, ZIPCODE, CITY, PROVINCE) VALUES (07, 'Nepal', '57300', 'Illam', 'Province No .1');
INSERT INTO "ADDRESS" (ADDRESSID, COUNTRY, ZIPCODE, CITY, PROVINCE) VALUES (08, 'Nepal', '57200', 'Jhapa', 'Province No .1');
INSERT INTO "ADDRESS" (ADDRESSID, COUNTRY, ZIPCODE, CITY, PROVINCE) VALUES (09, 'Nepal', '56600', 'Morang', 'Province No .1');
INSERT INTO "ADDRESS" (ADDRESSID, COUNTRY, ZIPCODE, CITY, PROVINCE) VALUES (10, 'Nepal', '44800', 'Bhaktapur', 'Bagmati Province');


INSERT INTO "PERSONADDRESS" (ADDRESSID, PERSONID) VALUES (01, 01);
INSERT INTO "PERSONADDRESS" (ADDRESSID, PERSONID) VALUES (02, 02);
INSERT INTO "PERSONADDRESS" (ADDRESSID, PERSONID) VALUES (03, 03);
INSERT INTO "PERSONADDRESS" (ADDRESSID, PERSONID) VALUES (03, 04);
INSERT INTO "PERSONADDRESS" (ADDRESSID, PERSONID) VALUES (05, 05);
INSERT INTO "PERSONADDRESS" (ADDRESSID, PERSONID) VALUES (07, 06);
INSERT INTO "PERSONADDRESS" (ADDRESSID, PERSONID) VALUES (07, 07);
INSERT INTO "PERSONADDRESS" (ADDRESSID, PERSONID) VALUES (08, 08);
INSERT INTO "PERSONADDRESS" (ADDRESSID, PERSONID) VALUES (10, 09);
INSERT INTO "PERSONADDRESS" (ADDRESSID, PERSONID) VALUES (10, 10);
INSERT INTO "PERSONADDRESS" (ADDRESSID, PERSONID) VALUES (01, 11);
INSERT INTO "PERSONADDRESS" (ADDRESSID, PERSONID) VALUES (09, 12);
INSERT INTO "PERSONADDRESS" (ADDRESSID, PERSONID) VALUES (08, 13);
INSERT INTO "PERSONADDRESS" (ADDRESSID, PERSONID) VALUES (04, 14);
INSERT INTO "PERSONADDRESS" (ADDRESSID, PERSONID) VALUES (05, 15);
INSERT INTO "PERSONADDRESS" (ADDRESSID, PERSONID) VALUES (01, 16);
INSERT INTO "PERSONADDRESS" (ADDRESSID, PERSONID) VALUES (07, 17);
INSERT INTO "PERSONADDRESS" (ADDRESSID, PERSONID) VALUES (06, 18);
INSERT INTO "PERSONADDRESS" (ADDRESSID, PERSONID) VALUES (02, 19);
INSERT INTO "PERSONADDRESS" (ADDRESSID, PERSONID) VALUES (01, 20);



INSERT INTO "STUDENT" (STUDENTID) VALUES (11);
INSERT INTO "STUDENT" (STUDENTID) VALUES (12);
INSERT INTO "STUDENT" (STUDENTID) VALUES (13);
INSERT INTO "STUDENT" (STUDENTID) VALUES (14);
INSERT INTO "STUDENT" (STUDENTID) VALUES (15);
INSERT INTO "STUDENT" (STUDENTID) VALUES (16);
INSERT INTO "STUDENT" (STUDENTID) VALUES (17);
INSERT INTO "STUDENT" (STUDENTID) VALUES (18);
INSERT INTO "STUDENT" (STUDENTID) VALUES (19);
INSERT INTO "STUDENT" (STUDENTID) VALUES (20);


INSERT INTO "TEACHER" (TEACHERID, EMAIL) VALUES (01, 'Santoshdangal@edu.np');
INSERT INTO "TEACHER" (TEACHERID, EMAIL) VALUES (02, 'Harikhadka@edu.np');
INSERT INTO "TEACHER" (TEACHERID, EMAIL) VALUES (03, 'Munadangal@edu.np');
INSERT INTO "TEACHER" (TEACHERID, EMAIL) VALUES (04, 'Samandhakal@edu.np');
INSERT INTO "TEACHER" (TEACHERID, EMAIL) VALUES (05, 'Sakarkharel@edu.np');
INSERT INTO "TEACHER" (TEACHERID, EMAIL) VALUES (06, 'Sanamlimbu@edu.np');
INSERT INTO "TEACHER" (TEACHERID, EMAIL) VALUES (07, 'Suyograi@edu.np');
INSERT INTO "TEACHER" (TEACHERID, EMAIL) VALUES (08, 'Saradhaoli@edu.np');
INSERT INTO "TEACHER" (TEACHERID, EMAIL) VALUES (09, 'Bikashjha@edu.np');
INSERT INTO "TEACHER" (TEACHERID, EMAIL) VALUES (10, 'Puspakhan@edu.np');


INSERT INTO "MODULE" (MODULECODE, MODULENAME, CREDITHOUR) VALUES ('CC12', 'Data Structure and Algorithm', '30');
INSERT INTO "MODULE" (MODULECODE, MODULENAME, CREDITHOUR) VALUES ('CC49', 'Engineering Thermodynamic', '60');
INSERT INTO "MODULE" (MODULECODE, MODULENAME, CREDITHOUR) VALUES ('SG101', 'Software engineer', '30');
INSERT INTO "MODULE" (MODULECODE, MODULENAME, CREDITHOUR) VALUES ('TG405', 'Data Analysis', '50');


INSERT INTO "TEACHERMODULE" ( TEACHERID, MODULECODE) VALUES ( 01, 'CC12');
INSERT INTO "TEACHERMODULE" ( TEACHERID, MODULECODE) VALUES ( 02, 'CC49');
INSERT INTO "TEACHERMODULE" ( TEACHERID, MODULECODE) VALUES ( 03, 'SG101');
INSERT INTO "TEACHERMODULE" ( TEACHERID, MODULECODE) VALUES ( 04, 'TG405');
INSERT INTO "TEACHERMODULE" ( TEACHERID, MODULECODE) VALUES ( 05, 'CC49');
INSERT INTO "TEACHERMODULE" ( TEACHERID, MODULECODE) VALUES ( 06, 'SG101');
INSERT INTO "TEACHERMODULE" ( TEACHERID, MODULECODE) VALUES ( 07, 'CC49');
INSERT INTO "TEACHERMODULE" ( TEACHERID, MODULECODE) VALUES ( 08, 'SG101');
INSERT INTO "TEACHERMODULE" ( TEACHERID, MODULECODE) VALUES ( 09, 'CC12');
INSERT INTO "TEACHERMODULE" ( TEACHERID, MODULECODE) VALUES ( 10, 'TG405');


INSERT INTO "STUDENTMODULE" ( STUDENTID, MODULECODE) VALUES ( 11, 'CC12');
INSERT INTO "STUDENTMODULE" ( STUDENTID, MODULECODE) VALUES ( 12, 'CC49');
INSERT INTO "STUDENTMODULE" ( STUDENTID, MODULECODE) VALUES ( 13, 'SG101');
INSERT INTO "STUDENTMODULE" ( STUDENTID, MODULECODE) VALUES ( 14, 'TG405');
INSERT INTO "STUDENTMODULE" ( STUDENTID, MODULECODE) VALUES ( 15, 'CC12');
INSERT INTO "STUDENTMODULE" ( STUDENTID, MODULECODE) VALUES ( 16, 'SG101');
INSERT INTO "STUDENTMODULE" ( STUDENTID, MODULECODE) VALUES ( 17, 'CC49');
INSERT INTO "STUDENTMODULE" ( STUDENTID, MODULECODE) VALUES ( 18, 'CC49');
INSERT INTO "STUDENTMODULE" ( STUDENTID, MODULECODE) VALUES ( 19, 'CC12');
INSERT INTO "STUDENTMODULE" ( STUDENTID, MODULECODE) VALUES ( 20, 'TG405');


INSERT INTO "ATTENDANCE" (ATTENDANCEID, ATTENDANCE, STUDENTID) VALUES (01, '60%', '11');
INSERT INTO "ATTENDANCE" (ATTENDANCEID, ATTENDANCE, STUDENTID) VALUES (02, '70%', '12');
INSERT INTO "ATTENDANCE" (ATTENDANCEID, ATTENDANCE, STUDENTID) VALUES (03, '70%', '13');
INSERT INTO "ATTENDANCE" (ATTENDANCEID, ATTENDANCE, STUDENTID) VALUES (04, '80%', '14');
INSERT INTO "ATTENDANCE" (ATTENDANCEID, ATTENDANCE, STUDENTID) VALUES (05, '80%', '15');
INSERT INTO "ATTENDANCE" (ATTENDANCEID, ATTENDANCE, STUDENTID) VALUES (06, '90%', '16');
INSERT INTO "ATTENDANCE" (ATTENDANCEID, ATTENDANCE, STUDENTID) VALUES (07, '90%', '17');
INSERT INTO "ATTENDANCE" (ATTENDANCEID, ATTENDANCE, STUDENTID) VALUES (08, '80%', '18');
INSERT INTO "ATTENDANCE" (ATTENDANCEID, ATTENDANCE, STUDENTID) VALUES (09, '90%', '19');
INSERT INTO "ATTENDANCE" (ATTENDANCEID, ATTENDANCE, STUDENTID) VALUES (10, '70%', '20');


INSERT INTO "DEPARTMENT" ( DEPARTMENTID, DEPARTMENTNAME) VALUES ( 01, 'TEACHER DEPARTMENT');
INSERT INTO "DEPARTMENT" ( DEPARTMENTID, DEPARTMENTNAME) VALUES ( 02, 'FEE DEPARTMENT');
INSERT INTO "DEPARTMENT" ( DEPARTMENTID, DEPARTMENTNAME) VALUES ( 03, ' EXAM DEPARTMENT');
INSERT INTO "DEPARTMENT" ( DEPARTMENTID, DEPARTMENTNAME) VALUES ( 03, ' STUDENT DEPARTMENT');


INSERT INTO "FEE" ( FEEID, STUDENTID, DEPARTMENTID, FEEDATE, AMOUNT, FEESTATUS) VALUES ( 01, 11, 02, '12-FEB-2022', '', 'PAID' );
INSERT INTO "FEE" ( FEEID, STUDENTID, DEPARTMENTID, FEEDATE, AMOUNT, FEESTATUS) VALUES ( 02, 12, 02, '', '', 'UNPAID' );
INSERT INTO "FEE" ( FEEID, STUDENTID, DEPARTMENTID, FEEDATE, AMOUNT, FEESTATUS) VALUES ( 03, 13, 02, '', '', 'UNPAID' );
INSERT INTO "FEE" ( FEEID, STUDENTID, DEPARTMENTID, FEEDATE, AMOUNT, FEESTATUS) VALUES ( 04, 14, 02, '08-FEB-2022', '', 'PAID' );
INSERT INTO "FEE" ( FEEID, STUDENTID, DEPARTMENTID, FEEDATE, AMOUNT, FEESTATUS) VALUES ( 05, 15, 02, '', '', 'UNPAID' );
INSERT INTO "FEE" ( FEEID, STUDENTID, DEPARTMENTID, FEEDATE, AMOUNT, FEESTATUS) VALUES ( 06, 16, 02, '', '', 'UNPAID' );
INSERT INTO "FEE" ( FEEID, STUDENTID, DEPARTMENTID, FEEDATE, AMOUNT, FEESTATUS) VALUES ( 07, 17, 02, '02-FEB-2022', '', 'PAID' );
INSERT INTO "FEE" ( FEEID, STUDENTID, DEPARTMENTID, FEEDATE, AMOUNT, FEESTATUS) VALUES ( 08, 18, 02, '16-FEB-2022', '', 'PAID' );
INSERT INTO "FEE" ( FEEID, STUDENTID, DEPARTMENTID, FEEDATE, AMOUNT, FEESTATUS) VALUES ( 09, 19, 02, '', '', 'UNPAID' );
INSERT INTO "FEE" ( FEEID, STUDENTID, DEPARTMENTID, FEEDATE, AMOUNT, FEESTATUS) VALUES ( 10, 20, 02, '20-FEB-2022', '', 'PAID' );


INSERT INTO "ASSIGNMENT" (ASSIGNMENTID, ASSIGNMENTTYPE, DEPARTMENTID) VALUES (01, ' Coursework', 03);
INSERT INTO "ASSIGNMENT" (ASSIGNMENTID, ASSIGNMENTTYPE, DEPARTMENTID) VALUES (02, 'Written Exam', 03);
INSERT INTO "ASSIGNMENT" (ASSIGNMENTID, ASSIGNMENTTYPE, DEPARTMENTID) VALUES (03, 'Individual Assignment', 03);
INSERT INTO "ASSIGNMENT" (ASSIGNMENTID, ASSIGNMENTTYPE, DEPARTMENTID) VALUES (04, 'Group Assignment ', 03);
INSERT INTO "ASSIGNMENT" (ASSIGNMENTID, ASSIGNMENTTYPE, DEPARTMENTID) VALUES (05, 'Unseen Examination', 03);



INSERT INTO "MODULEASSIGNMENT" (  STUDENTID, ASSIGNMENTID, MODULECODE, GRADE, ASSIGNMENTSTATUS) VALUES ('11', '01','CC12', 'A', 'Pass');
INSERT INTO "MODULEASSIGNMENT" (  STUDENTID, ASSIGNMENTID, MODULECODE, GRADE, ASSIGNMENTSTATUS) VALUES ('11', '02','CC49', 'B', 'Pass');
INSERT INTO "MODULEASSIGNMENT" (  STUDENTID, ASSIGNMENTID, MODULECODE, GRADE, ASSIGNMENTSTATUS) VALUES ('11', '01','CC49',  'F', 'Fail');
INSERT INTO "MODULEASSIGNMENT" (  STUDENTID, ASSIGNMENTID, MODULECODE, GRADE, ASSIGNMENTSTATUS) VALUES ('11', '05','SG101', 'B+', 'Pass');
INSERT INTO "MODULEASSIGNMENT" (  STUDENTID, ASSIGNMENTID, MODULECODE, GRADE, ASSIGNMENTSTATUS) VALUES ('11', '04','SG101', 'B', 'Pass');
INSERT INTO "MODULEASSIGNMENT" (  STUDENTID, ASSIGNMENTID, MODULECODE, GRADE, ASSIGNMENTSTATUS) VALUES ('11', '03','SG101', 'A', 'Pass'); 

INSERT INTO "MODULEASSIGNMENT" (  STUDENTID, MODULECODE, ASSIGNMENTID, GRADE, ASSIGNMENTSTATUS) VALUES ('CC12', 12, 01, 'A', 'Pass');
INSERT INTO "MODULEASSIGNMENT" (  STUDENTID, MODULECODE, ASSIGNMENTID, GRADE, ASSIGNMENTSTATUS) VALUES ('CC49', 12, 02, 'A', 'Pass');
INSERT INTO "MODULEASSIGNMENT" (  STUDENTID, MODULECODE, ASSIGNMENTID, GRADE, ASSIGNMENTSTATUS) VALUES ('CC49', 12, 01 , 'C', 'Pass');
INSERT INTO "MODULEASSIGNMENT" (  STUDENTID, MODULECODE, ASSIGNMENTID, GRADE, ASSIGNMENTSTATUS) VALUES ('SG101', 12, 05, 'A+', 'Pass');
INSERT INTO "MODULEASSIGNMENT" (  STUDENTID, MODULECODE, ASSIGNMENTID, GRADE, ASSIGNMENTSTATUS) VALUES ('SG101', 12, 04, 'B', 'Pass');
INSERT INTO "MODULEASSIGNMENT" (  STUDENTID, MODULECODE, ASSIGNMENTID, GRADE, ASSIGNMENTSTATUS) VALUES ('SG101', 12, 03, 'A', 'Pass');



















